extends ../_layout/admin.jade

block content
	.row
		.col-md-12
			table.table
				thead
					tr
						th!= '#'
						th!= 'Image'
						th!= 'Name'
						th!= 'Price'
						th!= 'Color'
						th!= 'Comments'
						th!= 'Edit'
				tbody
					if cars.length > 0
						each car in cars
							tr
								th(scope='row')!= '#'
								td
									img(src!= '/uploads/' + car.imageThumb title!= car.image)
								td!= car.name
								td!= car.price
								td!= car.color
								td
									p!= 'Comments '
										span.label.label-default!= '1'
								td
									a(href='/admin/dashboard/edit/' + car._id)!= 'Edit'
									span!= ' | '
									a(href='/admin/dashboard/delete/' + car._id)!= 'Delete'
					else 
						tr
							th(scopt='row')!= '#'
							td!= 'No cars uploaded yet!'
					

	.row
		.col-md-12
			a.btn.btn-primary(href='/admin/dashboard/add/')!= 'Add car'
