extends ../_layout/admin.jade

block content
	table.table
		thead
			tr
				th!= '#'
				th!= 'Image'
				th!= 'Name'
				th!= 'Comments'
				th!= 'Edit'
		tbody
			tr
				th(scope='row')!= '1'
				td!= 'http://imgurl.local'
				td!= 'Title of image'
				td
					p!= 'View '
						span.label.label-default!= '1'
				td
					a(href='/admin/dashboard/edit/1')!= 'Edit'
