extends _layout/default.jade

block content
	.row
		if cars.length > 0
			each car in cars
				.col-md-4
					.card
						.card-block
							h4.card-title!= car.name
							h6.card-subtitle.text-muted!= car.price
						img(data-src='...' alt='Card image')
						.card-block
							p.card-text!= car.color
							a.card-link(href="#")!= 'Card link'
							a.card-link(href="#")!= 'Another link'
		else
			.col-md-4
				p!= 'No cars!'